.Clock {
  text-align: center;
}

.Clock-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Clock-logo {
    animation: Clock-logo-spin infinite 20s linear;
  }
}

.Clock-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Clock-link {
  color: #61dafb;
}

@keyframes Clock-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
